<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <body>
    <div th:fragment="footer-panel">
      <section class="info_section layout_padding">
        <div class="container">
          <div class="row">
            <div class="col-md-3">
              <h5> Fruits </h5>
              <ul>
                <li> randomised </li>
                <li> words which </li>
                <li> don't look even </li>
                <li> slightly </li>
                <li> believable. If you </li>
                <li> are going to use </li>
                <li> a passage of </li>
                <li> Lorem Ipsum, </li>
              </ul>
            </div>
            <div class="col-md-3">
              <h5> Services </h5>
              <ul>
                <li> randomised </li>
                <li> words which </li>
                <li> don't look even </li>
                <li> slightly </li>
                <li> believable. If you </li>
                <li> are going to use </li>
                <li> a passage of </li>
                <li> Lorem Ipsum, </li>
              </ul>
            </div>
            <div class="col-md-3">
              <h5> List </h5>
              <ul>
                <li> randomised </li>
                <li> words which </li>
                <li> don't look even </li>
                <li> slightly </li>
                <li> believable. If you </li>
                <li> are going to use </li>
                <li> a passage of </li>
                <li> Lorem Ipsum, </li>
              </ul>
            </div>
            <div class="col-md-3">
              <div class="social_container">
                <h5> Follow Us </h5>
                <div class="social-box">
                  <a href="">
                    <img src="image/fb.png" alt="">
                  </a>
                  <a href="">
                    <img src="image/twitter.png" alt="">
                  </a>
                  <a href="">
                    <img src="image/linkedin.png" alt="">
                  </a>
                  <a href="">
                    <img src="image/instagram.png" alt="">
                  </a>
                </div>
              </div>
              <div class="subscribe_container">
                <h5> Subscribe Now </h5>
                <div class="form_container">
                  <form action="">
                    <input type="email">
                    <button type="submit"> Subscribe </button>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- footer section -->
      <section class="container-fluid footer_section">
        <p> Copyright &copy; 2022 All Rights Reserved By <a href="mailTo:shabbir.manasawala52@gmail.com">Shabbir Manasawala +91 8850831151</a>
        </p>
      </section>
      <!-- footer section -->
      <script type="text/javascript" src="js/jquery-3.4.1.min.js"></script>
      <script type="text/javascript" src="js/bootstrap.js"></script>
    </div>
  </body>
</html>