<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <body>
    <div th:fragment="header-panel">
      <div class="hero_area sub_pages">
        <!-- header section strats -->
        <header class="header_section">
          <div class="container">
            <nav class="navbar navbar-expand-lg custom_nav-container pt-3">
              <a class="navbar-brand" href="/">
                <img src="image/logo.png" alt="" />
                <span>
                  <span th:text="${slug}"></span>
                </span>
              </a>
              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <div class="d-flex ml-auto flex-column flex-lg-row align-items-center">
                  <ul class="navbar-nav  ">
                    <li class="nav-item active">
                      <a class="nav-link" href="/">Teams <span class="sr-only">(current)</span>
                      </a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="/player">Players</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="/city">Cities</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="/loadMatchData">Load</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="/contactUs">Contact</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="https://api.instagram.com/oauth/authorize?client_id=3459013894384110&redirect_uri=https://ipl-dashboard-shabbir.herokuapp.com/auth&response_type=code&scope=user_profile"> Login </a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="/tutorials">Tutorials</a>
                    </li>
                  </ul>
                </div>
                <div class="quote_btn-container ml-0 ml-lg-4 d-flex justify-content-center">
                  <a href=""> Mint Random NFT </a>
                </div>
              </div>
            </nav>
          </div>
        </header>
        <!-- end header section -->
      </div>
    </div>
  </body>
</html>